#pdf{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#pdf h1{
    color: blue;
}
#pdf img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px 1px;
    border-radius: 2px;
    margin: 30px;
}
#info{
    display: flex;
    justify-content: start;
    flex-direction: column;
    float: left;
    margin-left: 15%;
    margin-bottom: 150px;
    
}

#imgandname{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

button{
    background-color: rgb(16, 16, 177);
    width: 200px;
    height: 30px;
}


#btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


#btn button{
    margin-bottom: 5px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#info h5{
    font-weight:700;
}

#pdf span{
    font-weight:500;
}